#################### D E M O ####################
# Descomenta estas líneas y comenta las de REAL para usar cuenta DEMO
#MT5_LOGIN=198429153
#MT5_PASSWORD=tu_password_demo
#MT5_SERVER=Exness-MT5Trial11
#MT5_PATH=C:\Program Files\MetaTrader 5\terminal64.exe

#################### R E A L ####################
# Descomenta estas líneas y comenta las de DEMO para usar cuenta REAL
#MT5_LOGIN=196573333
#MT5_PASSWORD=tu_password_real
#MT5_SERVER=Exness-MT5Real11
#MT5_PATH=C:\Program Files\MetaTrader 5\terminal64.exe
